$hero-height: 425px;
$hero-nav-link-color: #bec3cc;
$hero-nav-link-color--selected: #fff;
$hero-nav-border-height: 4px;
$hero-nav-height: 50px - $hero-nav-border-height;
$page-nav-height: 60px;
$hero-bg-color: #00b286;

.hero {
  margin-top: $hero-nav-height;
  background: $page-nav-background-color url(/img/hero-bg.jpg) no-repeat 50% 50%;
  background-size: cover;

  .container {
    @include outer-container();
  }
}

.hero-content {
  @include shift(4);
  @include span-columns(6);
  @include omega();

  margin-top: 130px;
  margin-bottom: 100px;
  height: 156px;
  padding: 40px 30px 30px 30px;
  background-color: transparentize($hero-bg-color, 0.3);
  border-radius: 4px;

  // Responsive Breakpoints
  @include media($tablet-landscape-down) {
    @include shift(3);
    @include span-columns(8);
  }
  @include media($phone-landscape-down) {
    @include shift(0);
    @include span-columns($grid-columns);
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    color: #fff;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.hero__nav {
  @include shift(4);
  @include span-columns(6);
  @include omega();

  // height: $hero-nav-height;

  @include media($tablet-landscape-down) {
    @include shift(3);
    @include span-columns(8);
  }
  @include media($phone-landscape-down) {
    @include shift(0);
    @include span-columns($grid-columns);
    padding-left: 10px;
    padding-right: 10px;
  }

  a {
    color: $hero-nav-link-color;
    font-size: 12px;
    font-weight: bold;
    font-family: $font-family-open-sans;
    text-transform: uppercase;
    float: left;
    line-height: $hero-nav-height;
    border-bottom: $hero-nav-border-height solid transparent;

    &.selected, &:focus, &:active, &:hover {
      color: $hero-nav-link-color--selected;
    }
  }

  // Direct child only, since secondary util links can live on the right float
  > a {
    padding: 0 10px;
    letter-spacing: 0.1em;
    margin-left: 7%; /* roughly 40px at full-width, allows us to be a bit more liquid */

    &:first-child {
      margin-left: 0;
    }

    &.selected, &:focus, &:active {
      border-color: $link-color--primary;
    }

    @include media($phone-landscape-down) {
      letter-spacing: 0;
      padding: 0 5px;
    }
  }

}

// Home Hero
.hero--home {
  .hero-content {
    -webkit-font-smoothing: antialiased;

    input {
      background: transparent;
      border: none;
      color: #fff;
      font-size: 30px;
      font-family: $font-family-open-sans;
      font-weight: $font-weight-light;
      width: 100%;
      margin-bottom: 30px;

      &:active, &:focus {
        outline: none;
      }

      @include placeholder {
        color: #fff;
        opacity: 0.5;
        font-weight: lighter;
      }

      @include media($tablet-portrait-down) {
        font-size: 20px;
      }
    }

    a {
      margin-left: 50px;

      img {
        margin-right: 10px;
      }

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
