$dropdown-font-size: 12px;
$dropdown-bg-color: #f4f5f7;
$dropdown-border-radius: 5px;
$page-nav-padding: 12px;

.page-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  // border-top: 3px solid $link-color--primary;

  background-color: $page-nav-background-color;
  padding: $page-nav-padding;

  a {
    height: 32px;
    display: inline-block;
  }

  &__logo {
    float: left;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-proxima-nova;
    font-size: 19px;
    color: #bec3cc;
    padding-right: 5px;

    img, .page-nag__logo__text {
      float: left;
    }

    // The social icon
    img {
      margin-right: 12px;
    }

    // The text
    .page-nag__logo__text {
      margin-top: 8px; // offset from the logo icon by design

      @include media($phone-landscape-down) {
        display: none;
      }
    }

    // Using the non-semantic B for the colour difference
    b {
      font-weight: normal;
      color: #70767f;
    }
  }

  &__account {
    position: relative;
    float: right;

    // Pull up and down to give us a larger hit area for hovering, this means
    // we can use pure CSS for the drop down menu
    margin-bottom: -20px;
    padding-bottom: 20px;

    .avatar {
      display: inline-block;
      img {
        float: left;
      }
    }

    .caret {
      display: inline-block;
      width: 28px;
    }

    .dropdown {
      position: absolute;
      top: 50px;
      left: -9999px; // hide off screen
      right: -5px;
      opacity: 0;
      width: 96px;
      background: $dropdown-bg-color;
      margin: 0;
      text-align: left;
      border-radius: $dropdown-border-radius;
      @include transition(opacity 0.1s ease-in 0s, top 0.2s ease-in 0s);

      :after {
      	bottom: 100%;
      	right: 20%;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
      	border-bottom-color: $dropdown-bg-color;
      	border-width: 5px;
      	margin-left: -5px;
      }

      a {
        color: #70767f;
        font-size: $dropdown-font-size;
        display: block;
        padding: 0 16px;
        line-height: 30px;
      }

      &, li {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      li {
        border-top: 1px solid #dee1e5;
        &:first-of-type {
          border-top: none;
        }
      }
    }
    &:hover {
      .dropdown {
        left: auto; // bring on screen
        opacity: 1;
        top: 45px;
      }
    }
  }

  &__btn-new {
    background: transparent;
    border: 0;
  }

  // The search input box
  &__search {
    margin: 0 23px;
    padding: 0 5px;
    width: 200px;
    line-height: 30px;
    height: 30px;
    background-color: $page-nav-background-color;
    border: 1px solid #44474b;
    border-radius: 4px;
    outline: none;
    color: #fff;
    font-size: $h4-font-size;
    vertical-align: top;
    @include transition(border-color 0.2s ease-in 0s);
    &:focus, &:active {
      border-color: #ccc;
    }

    @include media($phone-landscape-down) {
      width: 35%;
    }
  }

  .container > .right {
    text-align: right;
    @include media($tablet-portrait-down) {
      float: none;
    }
  }

}
