@import "components/PostPhotoModalBody";

.post-photo {
  @include clearfix;
  background-color: $icon-color;
  display: inline-block;
  margin-top: 15px;
  margin-right: -$post-padding;
  margin-left: -$post-padding-left;

  &__thumbnail {
    width: 100%;
    float: left;
    cursor: pointer;
  }

  &:last-child {
    margin-bottom: -21px;
  }
}

// Grid view...
.posts-list--grid-view {
  .post-photo:last-child {
    margin-bottom: 0;
  }
  .post-photo__thumbnail:last-child {
    margin-bottom: 0; // show the utils below images
  }
}
