.posts-hero-nav {
  @include shift(4);
  @include span-columns(6);

  white-space: nowrap;
  margin-top: -50px; // pull up over hero

  @include media($tablet-landscape-down) {
    @include shift(3);
    @include span-columns(8);
  }
  @include media($phone-landscape-down) {
    @include shift(0);
    @include span-columns($grid-columns);
    padding-left: 10px;
    padding-right: 10px;
  }

  a {
    color: $hero-nav-link-color;
    font-size: 12px;
    font-weight: bold;
    font-family: $font-family-open-sans;
    text-transform: uppercase;
    // float: left;
    display: inline-block;
    line-height: $hero-nav-height;
    border-bottom: $hero-nav-border-height solid transparent;
    &.selected, &:focus, &:active, &:hover {
      color: $hero-nav-link-color--selected;
    }
  }

  // Direct child only, since secondary util links can live on the right float
  > a {
    padding: 0 10px;
    letter-spacing: 0.1em;
    margin-left: 7%; /* roughly 40px at full-width, allows us to be a bit more liquid */

    &:first-of-type {
      margin-left: 0;
    }

    &.selected, &:focus, &:active {
      border-color: $link-color--primary;
    }

    @include media($phone-landscape-down) {
      letter-spacing: 0;
      padding: 0 5px;
    }
  }

}
