.posts-list-view-switcher {
  float: right;

  @include media($phone-landscape-down) {
    display: none;
  }

  a {
    margin: 0;
    float: left;
    width: 20px;
    padding: 0;
    margin-left: 1px;
    text-indent: -9999em;
    opacity: 0.5;
    @include transition(opacity 0.1s ease-in);

    &.selected {
      opacity: 1;
    }
  }
  &__list {
    background: transparent url(/img/icons/list.png) no-repeat 50% 50%;
  }
  &__grid {
    background: transparent url(/img/icons/grid.png) no-repeat 50% 50%;
  }
}
