$post-link-color: $icon-color;
$post-link-color--hover: $link-color--primary;
$post-padding-left: 80px;
$post-padding-bottom: 15px;
$post-padding: 25px;
$post-border-color: #dee1e5;
$post-border-color--internal: #eef0f2;

.post {
  position: relative;
  border: 1px solid $post-border-color;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 25px;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;

  color: $gray;
  font-size: $body-font-size;
  font-family: $font-family-open-sans;
  line-height: 24px;

  a {
    color: $post-link-color;
    &:hover {
      color: $post-link-color--hover;
    }
  }

  .avatar {
    float: left;
    margin-left: 25px - $post-padding-left;
  }

  .post-padding {
    float: left;
    // width: 100%;
    padding: 25px 25px 15px $post-padding-left;

    &:empty {
      padding: 0;
    }
  }

  .post-footer {
    margin-top: 10px;
  }

  .post-utils {
    color: $icon-color;
    a {
      margin-right: 20px;
      font-size: 14px;
      color: $icon-color;

      &:hover {
        color: $icon-color--hover;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .post-author {
    font-size: $h4-font-size;
    color: $body-color;
    margin-bottom: 5px;
  }

  .post-text {
    p {
      margin: 5px 0;
    }
  }

  .post-thumbnail {
    @include clearfix;
    background-color: $icon-color;
    display: inline-block;
    margin-top: 15px;
    margin-right: -$post-padding;
    margin-left: -$post-padding-left;

    img {
      width: 100%;
      float: left;
    }

    &:last-child {
      margin-bottom: -32px;
    }
  }

  a.post-collapsible-toggle {
    font-size: 12px;
    &:hover {
      color: $body-color;
    }
  }

  .post-collapsible {
    width: 100%; overflow: hidden; // clearfix
    background-color: #f9fafb;
    border-top: 1px solid $post-border-color--internal;
    // Keep it shut, but use max-height so we can transition it
    max-height: 0;
	  overflow: hidden;
    opacity: 0;
    @include transition(max-height 0.2s ease-in 0s, opacity 0.2s ease-in 0s);
  }
  // The expanded state
  &:not(.post--collapsed) {
    .post-collapsible {
      opacity: 1;
      max-height: 350px; // in production this wouldn't work well because of timing delays
      overflow: scroll;
    }
  }

  .post-reply {
    border-bottom: 1px solid $post-border-color--internal;
  }

  .post-reply-form {
    padding: $post-padding;
    float: left;
    width: 100%;

    input {
      width: 100%;
      height: 40px;
      border: 1px solid $post-border-color;
      padding: 0 15px;
      border-radius: 5px;
      font-size: 14px;
      &:focus {
        color: $body-color;
      }
    }
  }


  &--liked {
    svg.like {
      path {
        stroke: $link-color--primary;
      }
    }
  }
}

// List view...
.posts-list--list-view {
  .post {
    .post-utils {
      position: absolute;
      top: $post-padding;
      right: $post-padding;
    }
    &.post--has-photo:not(.post--has-replies) {
      .post-footer {
        // A post without replies
        margin-top: 0;
        height: 0;
      }
      .post-thumbnail {
        margin-bottom: -21px;
      }
    }
  }
}
// Grid view...
.posts-list--grid-view {
  .post {
    .post-utils {
      position: relative;
      float: right;
    }
    .post-thumbnail:last-child {
      margin-bottom: 0; // show the utils below images
    }
  }
}
