.post-attachment {

  &__file {
    display: none;
  }

  &__add-photo, &__add-video {
    -webkit-font-smoothing: antialiased;
    margin-left: 50px;
    color: $gray;
    opacity: 0.5;
    @include transition(opacity 0.1s ease-in);

    &:hover {
      opacity: 1;
    }

    &:first-of-type {
      margin-left: 0;
    }

    svg {
      margin-right: 10px;
      path, circle {
        stroke: $gray;
      }
    }
  }

}
