.posts-list {
  padding-top: 50px;
  min-width: 100%;
  min-height: 1000px;
}

.posts-list--list-view {
  @include shift(4);
  @include span-columns(6);

  @include media($tablet-landscape-down) {
    @include shift(3);
    @include span-columns(8);
  }
  @include media($phone-landscape-down) {
    @include shift(0);
    @include span-columns($grid-columns);
    @include pad();
  }
}

.posts-list--grid-view {
  @include shift(1);
  @include span-columns(14);

  // @include media($phone-landscape-down) {
  //   @include span-columns(10);
  //   @include shift(2);
  // }
  @include media($phone-landscape-down) {
    @include span-columns(14);
    @include shift(0);
    @include pad();
  }

  .post {
    // @include omega;

    @include media($tablet-landscape-up) {
      @include span-columns(4);
      // &:nth-child(3n + 1) {
      //   @include shift(1);
      // }
    }
    @include media($tablet-landscape-down) {
      @include span-columns(6);
      // &:nth-child(2n) { // every 3rd
      //   @include shift(1);
      // }
    }
    @include media($phone-landscape-down) {
      @include span-columns($grid-columns);
      // &:nth-child(2n + 1) {
      //   @include shift(0);
      // }
    }
  }
}
