$post-link-color: $icon-color;
$post-link-color--hover: $link-color--primary;
$post-padding-left: 80px;
$post-padding-bottom: 15px;
$post-padding: 25px;

.post {
  position: relative;
  border: 1px solid #dee1e5;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 25px;
  -webkit-font-smoothing: antialiased;

  color: #70767f;
  font-size: $body-font-size;
  font-family: $font-family-open-sans;
  line-height: 24px;

  a {
    color: $post-link-color;
    &:hover {
      color: $post-link-color--hover;
    }
  }

  .avatar {
    float: left;
    margin-left: 25px - $post-padding-left;
  }

  .post-padding {
    float: left;
    width: 100%;
    padding: 25px 25px 15px $post-padding-left;
  }

  .post-footer {
    margin-top: 10px;
  }

  .post-utils {
    color: $icon-color;
    a {
      margin-right: 20px;
      font-size: 14px;
      color: $icon-color;

      &:hover {
        color: $icon-color--hover;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .post-author {
    font-size: $h4-font-size;
    color: $body-color;
    margin-bottom: 5px;
  }

  .post-content {
    p {
      margin: 5px 0;
    }
  }

  .post-thumbnail {
    @include clearfix;
    background-color: $icon-color;
    display: inline-block;
    margin-top: 15px;
    margin-right: -$post-padding;
    margin-left: -$post-padding-left;

    img {
      width: 100%;
      float: left;
    }

    &:last-child {
      margin-bottom: -15px;
    }
  }

  a.post-collapsible-toggle {
    font-size: 12px;
    &:hover {
      color: $body-color;
    }
  }

  .post-collapsible {
    height: auto;
  }
}

// When a post is collapsed...
.post--collapsed {
  .post-collapsible {
    height: 0;
    overflow: hidden;
  }
}

// List view...
.posts-list--list-view {
  .post {
    .post-utils {
      position: absolute;
      top: $post-padding;
      right: $post-padding;
    }
    &.post--has-photo:not(.post--has-replies) {
      .post-footer {
        // A post without replies
        margin-top: 0;
        height: 0;
      }
      .post-thumbnail {
        margin-bottom: -21px;
      }
    }
  }
}
// Grid view...
.posts-list--grid-view {
  .post {
    .post-utils {
      position: relative;
      float: right;
    }
  }
}
