$modal-width: 975px;

.modal--photo {
  padding: 0;
  width: $modal-width;
  margin: 0 0 0 (-$modal-width/2);
  background-color: transparent;

  .post-padding {
    background-color: #fff;
  }
  .post-reply-form {
    border-top: 1px solid $post-border-color--internal;
    padding-top: 15px;
  }

  .post-photo-modal-body {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;

    &--full {
      background-color: #000;
      border-radius: 3px 3px 0 0;
      overflow: hidden;
      > img {
        float: left;
      }
    }
  }

  @include media($tablet-portrait-down) {
  }
}
