$toggle-switch-width: 52px;
$toggle-switch-height: 27px;
$toggle-switch-knob-diameter: 24px;
$toggle-switch-knob-border: 1px;

.toggle-switch {
  input {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;

    + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      user-select: none;
    }
  }

  input + label {
    padding: $toggle-switch-knob-border;
    width: $toggle-switch-width;
    height: $toggle-switch-height;
    background-color: $button-bg-color;
    border-radius: $toggle-switch-height;
    @include transition(background 0.3s);
  }
  input + label:before, input + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  input + label:before {
    top: $toggle-switch-knob-border;
    left: $toggle-switch-knob-border;
    bottom: $toggle-switch-knob-border;
    right: $toggle-switch-knob-border;
    background-color: #fff;
    border-radius: $toggle-switch-height;
    @include transition(background 0.3s);
  }
  input + label:after {
    top: $toggle-switch-knob-border;
    left: $toggle-switch-knob-border;
    bottom: $toggle-switch-knob-border;
    width: $toggle-switch-knob-diameter;
    background-color: $button-bg-color;
    border-radius: $toggle-switch-knob-diameter;
    @include transition(background 0.3s, margin 0.3s);
  }
  input:checked + label {
    background-color: $button-bg-color;
  }
  input:checked + label:before {
    background-color: $button-bg-color;
  }
  input:checked + label:after {
    margin-left: 26px;
    background-color: #fff;
  }
}
