.settings {
  &.container {
    margin-top: $page-nav-height;
  }

  &__form {
    @include shift(4);
    @include span-columns(6);
    padding-top: 30px;

    @include media($tablet-landscape-down) {
      @include shift(3);
      @include span-columns(8);
    }
    @include media($phone-landscape-down) {
      @include shift(0);
      @include span-columns($grid-columns);
      @include pad();
    }
  }

  &__avatar {
    width: 85px;
    margin: 0 50px 20px 0;
    float: left;

    @include media($phone-landscape-down) {
      margin-right: 0;
      float: none;
    }

    &__btn-change {
      border: 1px solid $icon-color;
      color: $icon-color;
      background-color: #fff;
      font-size: 12px;
      width: 85px;
      padding: 3px;
    }
  }

  &__account {
    margin-left: 135px;
    margin-right: 40px;

    @include media($phone-landscape-down) {
      margin: 0;
    }

    &__name,
    &__email,
    &__password {
      margin-bottom: 20px;

      input {
        width: 100%;
        font-size: $h4-font-size;
        height: 40px;
        padding-left: 40px;
        // TODO: Simple bg image for icon
      }
    }
  }

  .settings__account__name  {
  }
  .settings__account__email {
  }
  .settings__account__password {
    position: relative;
    margin-bottom: 0;

    &__change {
      position: absolute;
      right: 15px;
      line-height: 40px;
      font-size: 12px;
      color: $icon-color;
    }
    input:focus + .settings__account__password__change {
      color: $link-color--primary;
    }
  }
}
