// breakpoints
$tablet: new-breakpoint(max-width 768px);
$mobile: new-breakpoint(max-width 480px);

header.page {
  background: #eee;
}

div.container {
  @include outer-container;
}

.right {
  float: right;
}
