h1 {
  font-family: $font-family-proxima-nova;
  font-weight: $h1-font-weight;
  font-size: $h1-font-size;
  line-height: 30px;
  margin-bottom: 10px;
}
h2 {
  font-weight: $h2-font-weight;
  font-size: $h2-font-size;

}
h3 {
  font-weight: $h2-font-weight;
  font-size: $h2-font-size;
}
h4 {
  font-weight: $h4-font-weight;
  font-size: $h4-font-size;
  color: $gray;
}

.text-centered {
  text-align: center;
}
