$visual-grid: true;

@import "bourbon";
@import "grid-settings";
@import "neat";

@import "variables";
@import "fonts";
@import "icons";

@import "layout";
@import "components/PageNav";
@import "components/Hero";
@import "components/PostsList";
@import "components/Post";
@import "components/PageFooter";

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

a {
  color: $link-color--primary;
  text-decoration: none;
}
